/* default selectors */
body {
    text-align: center;
    font-family: 'Merriweather', serif;
    /* first pick Courier New, if they don't have that then Courier, then finally monospace as last resort */
}

h1 {
    font-size: 5rem;
    /* 100% = 16px = 1em; the #em and #% font-size is inherited additively; #px and #rem (root em) is static and isolated*/
    margin: 50px auto 0 auto;
    /* if setting width, must center using margin :  (top right bottom left)  where auto means set value automatically and both sides even out */
    color: #cbccd5;
    padding-top: 100px;
}

h1.projects {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: #51588a;
    margin: 50px auto;
}

.top-container h2 {
    color: #7c83bd;
}

h3 {
    color: #51588a;
}

h3.projects {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    color: #7c83bd;
}

a {
    color: #51588a;
    margin: 10px 20px;
    text-decoration: none;
}

.projects a {
    color: #7c83bd;
    margin: 0 10px;
}

a:hover {
    color: #f4eeff;
}

hr {
    border: dotted #a6b1e1 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

p {
    line-height: 1.5;
}

/* class selectors */

.white-glow {
    text-shadow: 0 0 70px white;
}

.navbar {
    position: fixed;
    margin: 0;
    padding: 0;
}

.navbar a.nav-link.white {
    color: #cbccd5;
    text-shadow: 0 0 1px black;
}

.underline {
    text-decoration: underline;
}

.text-box-50 {
    margin: 0 auto;
    width: 50%;
}

.skill-row-1 {
    text-align: left;
    margin: 80px auto 150px auto;
}

.skill-row-2 {
    text-align: left;
    margin: 80px auto 150px auto;
}

.top-container {
    background-color: #190244;
    padding: 10px 0 0 0;
    position: relative;
    margin: 0;
}

.project-cards {
    padding: 100px;
}

.project-card {
    margin: 0 auto;
    padding: 2% 2%;
}

.project-cards .btn {
    background: #190244;
    color: white;
}

.middle-container {
    background-color: #f1e9ff;
}

.bottom-container {
    background-color: #190244;
    padding: 50px 0 30px 0;
}

.pro {
    /* use <span></span> to underline or other inline alterations */
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 500px;
}

.bottom-cloud {
    position: absolute;
    /* removes element from html reading flow */
    bottom: 300px;
    left: 300px;
}

/* .moon {} */

.image-code {
    border-radius: 100%;
    width: 25%;
    float: left;
    /* if you use clear then it says make sure that the left margin is clear and does not wrap around anything (anti-float) */
    margin: 0 30px 0 0;
}

.image-mead {
    border-radius: 100%;
    width: 25%;
    float: right;
    margin: 0 0 0 30px;
}

.weight-normal {
    font-weight: normal;
}

.contact-me {
    padding: 0 0 50px 0;
    width: 40%;
    margin: 0 auto;
}

.contact-message {
    margin: 50px auto 50px auto;
}

.btn.footer {
    background: #424874;
    background-image: -webkit-linear-gradient(top, #424874, #424874);
    background-image: -moz-linear-gradient(top, #424874, #424874);
    background-image: -ms-linear-gradient(top, #424874, #424874);
    background-image: -o-linear-gradient(top, #424874, #424874);
    background-image: linear-gradient(to bottom, #424874, #424874);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #a6b1e1;
    background-image: -webkit-linear-gradient(top, #a6b1e1, #a6b1e1);
    background-image: -moz-linear-gradient(top, #a6b1e1, #a6b1e1);
    background-image: -ms-linear-gradient(top, #a6b1e1, #a6b1e1);
    background-image: -o-linear-gradient(top, #a6b1e1, #a6b1e1);
    background-image: linear-gradient(to bottom, #a6b1e1, #a6b1e1);
    text-decoration: none;
}

.footer-link {
    color: #969ee4;
}

.copyright-message {
    font-size: 0.75rem;
    color: #f4eeff;
    padding: 20px 0;
}

/* id selectors */